.navbar{
	padding:0 .5rem;
	opacity: .9;
}

.navbar-light{

	.navbar-brand {
		color: $madridblue;
		padding: 0 1rem 0 0;
		font-size: 2rem;
	}

	.navbar-nav{
		.nav-link{
			color:$madridgrey;
		}
	}
}

