%layout-padding{
	padding: 0.3rem 2rem;
	border-top: 0.01rem solid $madridgrey;
}

%layout-no-padding{
	padding:0;
	border-top: 0.01rem solid $madridgrey;	
}

%relative-position{
	position: relative;
	left: 3%;
}

.card-columns{
	@extend %layout-padding;
	margin:0;
}

.layout_madridista{
	position: relative;
	width: 100%;
	display: block;
	overflow:hidden;
	@extend %layout-no-padding;
}


.layout-footer{
	padding:.5rem;
	background-color: $lightgrey;
}

footer{
	h5{
		color:$madridgrey;
	}
}