#carousel-home{
	.carousel-item{
		.carousel-caption{
			background-color: rgba(0,0,0,0.5);
			padding:1rem;
		}
	}
}

.card-columns {
	@include media-breakpoint-only(sm) {
		column-count: 1;
	}
	@include media-breakpoint-only(md) {
		column-count: 2;
	}
	@include media-breakpoint-only(lg) {
		column-count: 2;
	}
	@include media-breakpoint-only(xl) {
		column-count: 3;
	}
}

.badge{
  font-size: .5em;
  vertical-align: top;
}

.section-heading{
	color: $madridgrey;
	padding: .5rem 0;
	border-bottom: 0.05rem solid $madridgrey;
	margin: 0;
}

.text_banner{
	position: absolute;
	width: 75%;
}

.madridista_text{
	color: white;
	font-size: 4vw;
	width: 100%;
	@extend %relative-position;
}

#layout-madridista-button{
	@extend %relative-position;
	font-size: 1.4vw;
}

.madridista_image{
	width: 100%;
	height: auto;
}

.fab{
  font-size: 1.5rem;
  margin:.5rem;
  color:$madridgrey;
}

.footer-logo{
  flex:1;
}

.footer-social{
  flex:3;
}

