#carousel-home{
	.carousel-item{
		.carousel-caption{
			background-color: rgba(0,0,0,0.5);
			padding:1rem;
		}
	}
}

#card-fullsize{
	width: 100%;
}

.section-heading{
	color: $madridgrey;
	padding: .5rem 0;
	border-bottom: 0.05rem solid $madridgrey;
	margin: 0;
}
